.selection {
    margin-bottom: 80px;
}

.selection-img-list img {
    width: 100%;
    height: 100%;
}

.s-img-left {
    width: 690px;
    height: 380px;
}

.s-img-right {
    margin-left: 10px;
    width: 390px;
}

.s-img-right-img-l {
    margin-bottom: 10px;
    width: 100%;
    height: 185px;
}

.s-img-right-img-r {
    width: 100%;
    height: 185px;
}